let mapleader=" "

set scrolloff=5
set status-position=top

" Do incremental searching.
set incsearch

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'
Plug 'preservim/nerdtree'
Plug 'dbakker/vim-paragraph-motion'
Plug 'chrisbra/matchit'
Plug 'vim-scripts/argtextobj.vim'

set matchit
set ideajoin
set rnu
set mini-ai
set clipboard+=unnamedplus
set which-key
set functiontextobj
set ideamarks

" navigation mapping inside file
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

" easy sourcing
nnoremap <Leader>m :source ~/.ideavimrc<CR>

" buffer operations
map <leader>p \"_dP
map <leader>d \"_d
map <leader>c \"_c
map <leader>x \"_x
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>p "+p
nnoremap <leader>Y "*y
vnoremap <leader>Y "*y
nnoremap <leader>P "*p

"misc
nmap Q <nop>
nnoremap <Leader>/ /\c
map % <Action>(EditorMatchBrace)
nmap <C-S-M> <Action>(ActivateMavenToolWindow)
nmap u <Action>($Undo)
nmap U <Action>($Redo)
nmap <C-r> <Action>(Replace)
nmap <C-q> <Action>(QuickJavaDoc)
noremap > >gv
noremap < <gv

"refactoring
xmap <Leader>rr <Action>(RenameElement)
map <Leader>rr <Action>(RenameElement)
xmap <Leader>rt <Action>(ChangeSignature)
map <Leader>rt <Action>(ChangeSignature)
xmap <Leader>rm <Action>(ExtractMethod)
nmap <Leader>rm <Action>(ExtractMethod)
xmap <Leader>rv <Action>(IntroduceVariable)
nmap <Leader>rv <Action>(IntroduceVariable)
xmap <Leader>rf <Action>(IntroduceField)
nmap <Leader>rf <Action>(IntroduceField)
xmap <Leader>rc <Action>(IntroduceConstant)
nmap <Leader>rc <Action>(IntroduceConstant)

" multiselection
nmap <M-n> <Plug>NextWholeOccurrence
xmap <M-n> <Plug>NextWholeOccurrence
vmap <M-w> <Action>(EditorSelectWord)
vmap <M-b> <Action>(EditorUnSelectWord)
nmap <leader><M-n> <Plug>AllWholeOccurrences
xmap <leader><M-n> <Plug>AllWholeOccurrences


" navigation
nmap ]k <Action>(PreviousOccurence)
nmap ]j <Action>(NextOccurence)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gu <Action>(FindUsages)
nmap gs <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap <leader><leader> <Action>(GotoFile)
map <S-Esc> <Action>(RecentFiles)
nmap <M-j> <Action>(MethodDown)
nmap <M-k> <Action>(MethodUp)
vmap <M-j> <Action>(MethodDown)
vmap <M-k> <Action>(MethodUp)

"opening stuff
nmap <leader>os <Action>(FileStructurePopup)
nmap <leader>op <Action>(ActivateProblemsViewToolWindow)
nmap <leader>oh <Action>(LocalHistory)
nmap <leader>og <Action>(Git.Menu)
nmap <leader>or <Action>(RecentFiles)
nmap <leader>of <Action>(EditSource)
xmap <leader>of <Action>(EditSource)
nmap <leader>od <Action>(ToggleDistractionFreeMode)
nmap <leader>oc <Action>(SelectIn)
nmap <leader>oz <Action>(ToggleFullScreen)
nmap <leader>oo <Action>(HideAllWindows)

" Window management
nmap <leader>wr <Action>(SplitVertically)
nmap <leader>wc <Action>(CloseContent)
nmap <leader>wC <Action>(CloseAllEditors)
nmap <leader>wf <Action>(MaximizeEditorInSplit)
nmap <C-M-S-Left> <Action>(StretchSplitToLeft)
nmap <C-M-S-Right> <Action>(StretchSplitToRight)
nmap <leader>ww <Action>(HideAllWindows)
nmap <leader>ot <Action>(ActivateTerminalToolWindow)
nmap <C-M> <Action>(NextSplitter)

" harpoon
nmap <leader><S-j> <Action>(SetFile1)
nmap <leader><S-k> <Action>(SetFile2)
nmap <leader><S-l> <Action>(SetFile3)
nmap <leader>: <Action>(SetFile4)
nmap <leader>j <Action>(OpenFile1)
nmap <leader>k <Action>(OpenFile2)
nmap <leader>l <Action>(OpenFile3)
nmap <leader>; <Action>(OpenFile4)

" run configs
nmap <leader>srr <Action>(ChooseRunConfiguration)
nmap <leader>sr <Action>(Run)
nmap <leader>srt <Action>(ContextRun)
nmap <leader>sdd <Action>(ChooseDebugConfiguration)
nmap <leader>sd <Action>(Debug)
nmap <leader>sdt <Action>(ContextDebug)
nmap <leader>sb <Action>(CompileDirty)
nmap <leader>sba <Action>(BuildArtifact)
nmap <leader>ss <Action>(Stop)

" back navigation
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

" debug stuff
nmap <leader>F9 <Action>(RunToCursor)
nmap <leader>F8 <Action>(ToggleLineBreakpoint)

" marks

nnoremap 'a `A
nnoremap 'b `B
nnoremap 'c `C
nnoremap 'd `D
nnoremap 'e `E
nnoremap 'f `F
nnoremap 'g `G
nnoremap 'h `H
nnoremap 'i `I
nnoremap 'j `J
nnoremap 'k `K
nnoremap 'l `L
nnoremap 'm `M
nnoremap 'n `N
nnoremap 'o `O
nnoremap 'p `P
nnoremap 'q `Q
nnoremap 'r `R
nnoremap 's `S
nnoremap 't `T
nnoremap 'u `U
nnoremap 'v `V
nnoremap 'w `W
nnoremap 'x `X
nnoremap 'y `Y
nnoremap 'z `Z

nnoremap ma mA
nnoremap mb mB
nnoremap mc mC
nnoremap md mD
nnoremap me mE
nnoremap mf mF
nnoremap mg mG
nnoremap mh mH
nnoremap mi mI
nnoremap mj mJ
nnoremap mk mK
nnoremap ml mL
nnoremap mm mM
nnoremap mn mN
nnoremap mo mO
nnoremap mp mP
nnoremap mq mQ
nnoremap mr mR
nnoremap ms mS
nnoremap mt mT
nnoremap mu mU
nnoremap mv mV
nnoremap mw mW
nnoremap mx mX
nnoremap my mY
nnoremap mz mZ
