let mapleader=" "

set scrolloff=16

" Do incremental searching.
set incsearch

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'
Plug 'preservim/nerdtree'
Plug 'dbakker/vim-paragraph-motion'
Plug 'chrisbra/matchit'
Plug 'justinmk/vim-sneak'

set ideajoin
set rnu
set mini-ai
set clipboard=unnamedplus

" navigation mapping inside file
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz


" easy sourcing
nnoremap <Leader>m :source ~/.ideavimrc<CR>

" buffer operations
xmap <leader>p \"_dP
nmap <leader>d \"_d
vmap <leader>x \"_x
nmap <leader>c \"_c

"misc
nmap Q <nop>

"refactoring
xmap <Leader>rr <Action>(RenameElement)
map <Leader>rr <Action>(RenameElement)
xmap <Leader>rm <Action>(ExtractMethod)
nmap <Leader>rm <Action>(ExtractMethod)
xmap <Leader>rv <Action>(IntroduceVariable)
nmap <Leader>rv <Action>(IntroduceVariable)
xmap <Leader>rf <Action>(IntroduceField)
nmap <Leader>rf <Action>(IntroduceField)
xmap <Leader>rc <Action>(IntroduceConstant)
nmap <Leader>rc <Action>(IntroduceConstant)

" multiselection
nmap <M-n> <Plug>NextWholeOccurrence
xmap <M-n> <Plug>NextWholeOccurrence
vmap <M-w> <Action>(EditorSelectWord)
vmap <M-b> <Action>(EditorUnSelectWord)
nmap <leader><M-n> <Plug>AllWholeOccurrences
xmap <leader><M-n> <Plug>AllWholeOccurrences


" navigation
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gu <Action>(FindUsages)
nmap gs <Action>(GotoSuperMethod)
nmap <leader>oe <Action>(RecentFiles)
nmap <leader>ol <Action>(RecentLocations)
nmap <leader>of <Action>(GotoFile)
nmap <leader>os <Action>(FileStructurePopup)
nmap <leader>op <Action>(ActivateProblemsViewToolWindow)
nmap <M-j> <Action>(MethodDown)
nmap <M-k> <Action>(MethodUp)
vmap <M-j> <Action>(MethodDown)
vmap <M-k> <Action>(MethodUp)

" Window management
nmap <leader>wr <Action>(SplitVertically) 
nmap <leader>wc <Action>(CloseContent)
nmap <leader>wf <Action>(MaximizeEditorInSplit)

" harpoon
nmap <leader><S-j> <Action>(SetFile1)
nmap <leader><S-k> <Action>(SetFile2)
nmap <leader><S-l> <Action>(SetFile3)
nmap <leader>: <Action>(SetFile4)
nmap <leader>j <Action>(OpenFile1)
nmap <leader>k <Action>(OpenFile2)
nmap <leader>l <Action>(OpenFile3)
nmap <leader>; <Action>(OpenFile4)

" run configs
nmap <leader>srr <Action>(ChooseRunConfiguration)
nmap <leader>sr <Action>(Run)
nmap <leader>srt <Action>(ContextRun)
nmap <leader>sdd <Action>(ChooseDebugConfiguration)
nmap <leader>sd <Action>(Debug)
nmap <leader>sdt <Action>(ContextDebug)
nmap <leader>sb <Action>(CompileDirty)
nmap <leader>ss <Action>(Stop)

" back navigation
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

" debug stuff
nmap <leader>F9 <Action>(RunToCursor)
nmap <leader>F8 <Action>(ToggleLineBreakpoint)
